#search-info {
    padding-left: 1rem;
}
.search-form {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    grid-template-columns: max-content max-content;
}

.last-row {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
/* calendar */
#searchForm .react-datepicker-popper {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    z-index: 9999;
}

.react-datepicker__tab-loop {
    position: absolute;
    top: 0;
}
.react-datepicker__input-container input{
    width: 6em;
}

.custom-calendar {
    width: clamp(230px, 230px, 400px);
    padding: 0;

    .react-datepicker__day--selected {
        background-color: var(--turquoise);
    }

    .react-datepicker__day:not([aria-disabled=true]):hover {
        background-color: var(--light-blue);
    }

    .react-datepicker__day--selected:not([aria-disabled=true]):hover {
        background-color: var(--turquoise);
    }

    .react-datepicker__day--keyboard-selected {
        background-color: var(--white);
    }

    .react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover {
        background-color: var(--white);
    }

    .react-datepicker__month-container {
        padding: 0;
        margin: 0;
    }

    .react-datepicker__header {
        background-color: var(--blue);
    }

    .react-datepicker__month {
        padding: 0;
        margin: 0;
    }

    .react-datepicker__current-month {
        color: white;
    }

    .react-datepicker__day-name {
        color: white;
    }
}

/* time */
.react-datepicker__time-container {
    padding: 0;
    margin: 0;
}

.custom-time {
    padding: 0;
    margin: 0;

    .react-datepicker__header {
        background-color: var(--blue);
    }

    .react-datepicker-time__header {
        color: white;
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
        background-color: var(--light-blue);
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
        background-color: var(--turquoise);
    }

    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:not([aria-disabled=true]):hover {
        background-color: var(--turquoise);
    }

    .react-datepicker__time-container {
        float: left;
    }
}