.button-container {
  margin-top: 20px;
}

.reserve-button {
  background: var(--green);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.cancel-button {
  background-color: var(--red);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.fc-timegrid-event {
  font-size: medium;
  font-weight: bold;
  width: 950px;
}

.fc-timegrid-axis {
  width: 68px !important;
}

.fc-toolbar-title {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;
  word-wrap: break-word !important;
}

.fc-selected-slot {
  background-color: var(--orange) !important;
}

.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 3em;
}
