.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.schedule-container {
  background: var(--beige);
  width: 100%;
  height: 340px;
  padding: 20px;
}

.schedule-container h2 {
  margin-bottom: 20px;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  margin-bottom: 20px;
}

.container ul li:last-child {
  margin-bottom: 0;
}

.container ul li .slot:last-child {
  margin-bottom: 0;
}

.link-container {
  width: 100%;
  height: 100%;
  transform: translateY(50%);
}
