.navbar a {
  color: var(--black);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.navbar a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--black);
  position: absolute;
  bottom: -6px;
  left: 0;
}
