.navbar {
  background: var(--light-blue);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.language-selector {
  height: 2em;
  width: 4em;
  padding-top: 0.5rem;
}
.navbar a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--black);
  position: absolute;
  bottom: -6px;
  left: 0;
}
.navbar .lng {
  background-color: var(--light-grey);
  color: var(--black);
  height: 2em;
  width: 2em;
}
.navbar .lng-active {
  background-color: var(--blue);
  color: var(--white);
  height: 2em;
  width: 2em;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
