.navbar {
  background: var(--light-blue);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.navbar a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--black);
  position: absolute;
  bottom: -6px;
  left: 0;
}

.language-selector {
  display: flex;
  align-items: center;
}

.navbar .lng,
.navbar .lng-active {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar .lng {
  color: var(--black);
}

.navbar .lng-active {
  color: var(--black);
}

.navbar .lng-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--black);
  position: absolute;
  bottom: -6px;
  left: 0;
}

.language-switcher ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0rem;
}
.language-switcher ul li {
  display: block;
  line-height: 4.375rem;
  margin: 0;
}

.language-switcher .lng {
  color: #000;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.language-switcher .lng-active {
  color: #000;
  border-bottom: 2px solid #000;
}
